#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #dbe6e9aa solid 2px;
  border-radius: 16px;
  width: 650px;

  margin-top: 24px;
  margin-bottom: 16px;
  padding-bottom: 12px;
}

.options-title {
  position: absolute;
  transform: translateY(-56px);
  background: linear-gradient(45deg, #8a2be2, #1e90ff, #ff69b4, #8a2be2);
  box-shadow: #ccc 2px 2px 4px;
  z-index: 10;
  font-size: 24px;

  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 12px 24px;
}

.options-title-btns {
  position: absolute;
  transform: translateY(-32px);
  background: linear-gradient(45deg, #8a2be2, #1e90ff, #ff69b4, #8a2be2);
  box-shadow: #ccc 2px 2px 4px;
  z-index: 10;
  font-size: 24px;

  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 12px 24px;
}

.card-options {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* width: 300px;
  height: 500px; */
}

.options-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
  width: 100%;

  /* outline: red 3px solid; */
}

.options-item label {
  display: inline-block;
  width: 160px;
  font-size: 14px;
  text-align: left;
  font-size: 20px;
}

.options-item input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 360px;
  font-size: 20px;
}

.options-item select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 370px;
  font-size: 20px;
}

.spacerY {
  height: 80px;
}

.spacerY-24 {
  height: 24px;
}

.read-the-docs {
  color: #888;
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1.3s both;
  animation: wobble-hor-bottom 1.3s both;
}

.center-it {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  /* padding-bottom: 46px; */
  /* border-bottom: rgba(209, 199, 171, 0.75) 3px solid; */
}

.divider {
  margin-bottom: 46px;
  margin-top: 46px;
  border-bottom: rgba(209, 199, 171, 0.75) 3px solid;
  width: 100%;
}

.section-01 {
  /* border: rgba(252, 186, 3, 0.5) 2px solid;
  border-radius: 12px;
  padding: 24px; */
}

.section-01 > h2 {
  color: whitesmoke;
}

.section-02 {
  /* margin-top: 36px; */
  /* border: rgba(252, 186, 3, 0.5) 2px solid;
  border-radius: 12px;
  padding: 24px; */
}

.section-02 > h2 {
  transform: translateY(-46px);

  /* color: rgba(252, 186, 3, 0.5); */
}

.section-03 {
  margin-top: 12px;
}

.section-03 > h2 {
  transform: translateY(-24px);
}

.section-04 {
  margin-top: 12px;
}

.section-04 > h2 {
  transform: translateY(-24px);
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  max-width: 320px;
  border: 2px solid #ded1d1ad;
  border-radius: 15px;
  padding: 16px 24px;
}

.status-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.status-item span {
  text-align: left;
}

.dot {
  min-width: 14px;
  min-height: 14px;
}

.dot-blur-red {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px red;
}

.dot-blur-green {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px green;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-3 14:17:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
